<div id="session-addrbook">
  <% form_for :user_address_book, :url => { :controller => "main", :action => "index" }, :html => { :method => :get, :name => 'which_book' } do %>
  <span id="session-addrbook-label">Address Book:</span>
  <%= select(:user_address_book, :id, @user_address_books.collect{ |uab| [uab.address_book.title, uab.id] }, {}, :onchange => 'document.which_book.submit();') %>
  <% end %>
</div>
<table class="maint">
  <tr>
    <th>Name</th>
    <th>Address</th>
  </tr>
<% @families.each do |family| %>
  <tr style="display: table-row;">
    <td><%= link_to h(family.full_name), main_path(family.id) %></td>
    <td><%=h family.full_address %></td>
    <td class="action">
      <%= link_to_remote 'Edit',
          :url => {:action => 'say_when', :id => family.id },
          :update => 'andy' + family.id.to_s %>
      <%= link_to 'Delete', main_path(family), :html => { :method => :delete }, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
  <!-- <tr id="andyrow" style="display: none;"> -->
  <!--   <td id="andy<%= family.id %>" colspan="3"> -->
  <!--   </td> -->
  <!-- </tr> -->
  <tr>
    <td id="andy<%= family.id %>" colspan="3">
    </td>
  </tr>
<% end %>
</table>
