<h1>Showing Family</h1>

<div class="entryaction">
<p>
  <%= link_to 'Edit', edit_family_path(@family) %> |
  <%= link_to 'Back', families_path %>
</p>
</div>

<div class="entry">
<p>
  <b>Informal name:</b>
  <%=h @family.informal_name %>
</p>

<p>
  <b>Formal name:</b>
  <%=h @family.formal_name %>
</p>

<p>
  <b>Addr line 1:</b>
  <%=h @family.addr_line_1 %>
</p>

<p>
  <b>Addr line 2:</b>
  <%=h @family.addr_line_2 %>
</p>

<p>
  <b>City:</b>
  <%=h @family.city %>
</p>

<p>
  <b>State:</b>
  <%=h @family.state %>
</p>

<p>
  <b>Zip code:</b>
  <%=h @family.zip_code %>
</p>
</div>
